
a img.logos {
	  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
	filter: url(filters/filters.svg#grayscale); 
 	filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); 
}

a img.logos:hover {
	filter: none;
    -webkit-filter: grayscale(0);
}



